.App {
  text-align: justify;
  background-image: url(./static/background3.jpg);
  background-size: cover;

}


.drop-down-container{
  display: flex;
  padding: 1rem;
  justify-content: space-between;

}

.race-drop-down .race-drop-down:hover{
background-color: gold;
color: black;
}


.monster-drop-down{
  background-color: black;
  color: red;
}

.race-detail{
  color: black;
  font-weight: bold;
  padding: 1rem;
  border-style: solid;
  border-width: 0.25rem;
}

.monster-detail{
  color: crimson;
  font-weight: bold;
  padding: 1rem;
  border-style: solid;
  border-width: 0.25rem;
}

.container{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}


img{
  width: 50%;
  height: 50%;
  float: right;
  border-style: solid;
  border-radius: 30%;
  border-width:4px;
  border-color: red;
}